@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    html {
        /* smooth snap scroll */
        @apply snap-y;
        @apply snap-mandatory;
        @apply overflow-y-scroll;

        /* react-scroll needs this for smooth scrolling */
        @apply scroll-smooth;
    }
    body {
        @apply dark:bg-[#191a1f] bg-slate-50; /* scroll-bounce page background color at top and bottom */
        @apply font-[Raleway];

        /* smooth snap scroll */
        @apply w-screen;
        @apply h-screen;
        @apply m-0;
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)   
    )!important;
}

/* active navbar list element */
.active-link {
    color: rgb(2, 132, 199);
}

.will-change-transform {
    will-change: transform;
}

.cursor::after {
    display: block;
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #fff;
    animation: cursor 0.6s linear infinite alternate;
    will-change: opacity;
}
  
@keyframes cursor {
    0%,
    40% {
      opacity: 1;
    }
  
    60%,
    100% {
      opacity: 0;
    }
}