/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');*/

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        /* smooth snap scroll */
        @apply snap-y;
        @apply snap-mandatory;
        @apply overflow-y-scroll;

        /* react-scroll needs this for smooth scrolling */
        @apply scroll-smooth;
    }
    body {
        @apply dark:bg-[#1d1f24] bg-slate-50; /* scroll-bounce page background color at top and bottom */
        @apply font-sans;

        /* smooth snap scroll */
        @apply h-screen;
        @apply m-0;
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

/* active navbar list element */
.active-link {
    @apply text-teal-500;
}

.cursor::after {
    display: block;
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background-color: #fff;
    animation: cursor 0.6s linear infinite alternate;
    will-change: opacity;
}
  
@keyframes cursor {
    0%,
    40% {
      opacity: 1;
    }
  
    60%,
    100% {
      opacity: 0;
    }
}